@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Light.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  background-image:linear-gradient(rgba(3, 8, 20, 0.6), rgba(3, 8, 20, 0.6)), url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Poppins;
  height: 100vh;
  width: 100%;
}

.log {
  background: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  top: 300px;
  width: 500px;
}

.log h1 {
  font-weight: 400;
  padding: 35px 35px 0 35px;
}

.log .content {
  text-align: center;
  padding: 35px;
}

.log .input {
  padding: 10px 5px;
}

.log .input input {
  border: 0;
  border-bottom: 1px solid #747474;
  font-size: 15px;
  outline: none;
  padding: 12px 2px;
  transition: all 0.2s;
  width: 100%;
}

.log a.link {
  color: #6e6868;
  display: inline-block;
  margin-top: 20px;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.log .action {
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  text-align: center;
}

.log .action a {
  background: #e8e9ec;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
  cursor: pointer;
  color: #777777;
  padding: 18px;
  letter-spacing: 0.3px;
  outline: 0;
  transition: all .4s;
  width: 100%;
}

.log .action a:hover {
  background: #d7d7d7;
}

.log .action a:nth-child(2) {
  background: #2d3b55;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}

.log .action a:nth-child(2):hover {
  background: #3c4d6d;
}
