@font-face {
    font-family: Poppins-Thin;
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
    font-family: Poppins-Semibold;
    src: url("../fonts/Poppins/Poppins-Semibold.ttf");
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: Yanone-ExtraLight;
    src:url("../fonts/Yanone/YanoneKaffeesatz-ExtraLight.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins-Thin;
}

a {
    color: inherit;
    text-decoration: none;
}

#first-section {
    background-image: linear-gradient(rgba(3, 8, 20, 0.6), rgba(3, 8, 20, 0.6)), url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    color: white;
}

.contest-wrapper {
    border-radius: 5px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.contest {
    font-size: 48px;
    padding: 6px 20px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.contest-wrapper:hover {
    background-color: #d8d8d8;
}

.contest:hover {
    color: black;
    cursor: pointer;
}

#second-section {
    background-color: #ededed;
}

@media screen and (min-width: 800px) {
    #second-section {
        padding-top: 20px;
        padding-bottom: 24px;
    }
}

#third-section .container-fluid {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#third-section img {
    width: 40%;
    border-radius: 100%;
}

#third-section .container-fluid:hover {
    background-color: lightgray;
}

.telegram-picture {
    flex-shrink: 0;
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}

.telegram-picture:hover {
    background-color: white;
}

.telegram-accounts {
    margin-left: -12px;
    margin-right: -12px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.telegram-accounts::-webkit-scrollbar {
    display: none;
}

.map {
  background-color: rgb(60,60,60);
  padding: 50px;
}

@media screen and (max-height: 900px) and (max-width: 1200px) {
    #first-section {
        height: initial;
    }
}

@media screen and (max-width: 800px) {
    #third-section .container-fluid {
        flex-direction: column;
    }

    .telegram-picture {
        flex-shrink: 0;
        width: 240px;
    }
}

@media screen and (max-width: 400px) {
    .contact-us {
        padding-left: 0;
        padding-right: 0;
    }

    .contact-us__text {
        font-size: 18px;
    }
}
