* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  color: white;
}

.custom-container {
  background-color: #262729;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

@media screen and (max-height: 700px) {
  .custom-container {
    height: initial;
  }
}

.header {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

#heading {
  font-size: 60px;
  margin-left: 20px;
  float: left;
  padding-top: 25px;
}

.table-hover tr {
  color: white;
}

.rounded {
  width: 20%;
}

.datatable {
  /* background-color: #2a2c2d; */
  width: 80%;
  padding-bottom: 3px;
}

nav {
  font-size: 24px !important;
}

#navbarSupportedContent ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 10px;
  position: relative;
}

#navbarSupportedContent ul li::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  margin: auto;
  transition: 0.5s;
  width: 0%;
}

#navbarSupportedContent ul li:hover::after {
  width: 100%;
}

#navbarSupportedContent ul li:nth-child(4)::after {
  width: 100%;
}

#navbarSupportedContent ul li:nth-child(4)::after {
  content: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#sidebar {
  color: #e7e6e5;
  float: right;
  width: 20em;
  display: inline;
  margin: 1em 1em 1em -22em;
}

.roundbox-lt {
  text-align: center;
  border-bottom: 1px solid rgb(185, 185, 185);
  margin: 0 -0.5em 0.5em -0.5em;
  padding: 0 1em 0.5em 1em;
}

.roundbox {
  border: 1px solid #b9b9b9;
  position: relative
}

.roundbox .roundbox-lt {
  position: absolute;
  top: -1px;
  left: -1px
}

.roundbox .roundbox-rt {
  position: absolute;
  top: -1px;
  right: -1px
}


.rtable th {
  font-weight: 700
}


.table-hover tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-hover tbody tr:last-of-type {
  border-bottom: 3px solid #dddddd;
}

.table-hover tbody tr:hover {
  background-color: #7c7c7d;
  cursor: pointer;
}

.login, .sign-up {
  font-size: 24px;
}
