@font-face {
  font-family: Poppins-Thin;
  src: url("../fonts/Poppins/Poppins-Thin.ttf");
}

@font-face {
  font-family: Poppins-Semibold;
  src: url("../fonts/Poppins/Poppins-Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  color: white;
}

.custom-container {
  background-image: linear-gradient(rgba(3, 8, 20, 0.6), rgba(3, 8, 20, 0.6)), url('../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  font-family: Poppins-Thin, sans-serif;
}

@media screen and ( max-height: 700px ) {
   .custom-container{
      height: initial;
    }
}
.header {
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.heading {
  font-size: 24px;
  font-family: Poppins-Thin;
  text-align: center;
  padding-top: 25px;
}

nav {
  font-size: 24px !important;
}

#navbarSupportedContent ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 10px;
  position: relative;
}

#navbarSupportedContent ul li::after {
  background: white;
  content: '';
  display: block;
  height: 1px;
  margin: auto;
  transition: 0.5s;
  width: 0%;
}

#navbarSupportedContent ul li:hover::after {
  width: 100%;
}

#navbarSupportedContent ul li:nth-child(4)::after {
  width: 100%;
}
#navbarSupportedContent ul li:nth-child(4)::after {
  content: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.table-sm {
  border-collapse: collapse;
  border-radius: 5px 5px 0 0;
  font-size: 1.5em;
  font-family: Poppins-Thin;
  margin: auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

.table-sm th {
  text-align: center;
}

.table-sm tbody td {
  padding: 5px;
}

.table-sm thead tr {
  background-color: #2C394B;
  font-weight: bold;
  text-align: left;
}

.table-sm th,
.table-sm tr {
  padding: 6px 7px;
}

.table-sm tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-sm tbody tr:last-of-type {
  border-bottom: 3px solid #2C394B;
}

.table-sm tbody tr:hover {
  background-color: #889EAF;
  cursor: pointer;
}

.login, .sign-up {
  font-size: 24px;
}
