body {
  font-family: monospace;
  margin: 0;
  color: white;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.first-block {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first-block .wrapper p {
  display: block;
}

.welcome-text {
  padding-left: 100px;
  width: 400px;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 3px;
}
